{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div>
		<h1 class="mb-4">Mentions Légales</h1>

		<section>
			<h4>Propriétaire et Éditeur du site</h4>
			<p>KawaiiGuide est un projet personnel dirigé par Yvanne ROSAT.</p>
		</section>

		<section>
			<h4>Siège Social</h4>
			<p>Adresse : [Ajoutez une adresse si nécessaire ou indiquez qu'il s'agit d'un projet scolaire en local].</p>
		</section>

		<section>
			<h4>Contact</h4>
			<p>Email :
				<a href="mailto:admin@contact.com">admin@contact.com</a>
			</p>
		</section>

		<section>
			<h4>Hébergement</h4>
			<p>Le site KawaiiGuide est actuellement hébergé localement pour des fins de développement et de présentation scolaire.</p>
		</section>

		<section>
			<h4>Propriété Intellectuelle</h4>
			<p>Les contenus présentés sur KawaiiGuide, incluant textes, images et autres ressources, sont soit originaux soit utilisés sous permission. Toute reproduction non autorisée des contenus est interdite.</p>
		</section>

		<section>
			<h4>Responsabilité</h4>
			<p>KawaiiGuide décline toute responsabilité quant à l'utilisation des informations disponibles sur le site et à l'interprétation qui en est faite.</p>
		</section>

		<section>
			<h4>Crédits</h4>
			<p>Les descriptions et résumés d'animes sont basés sur les informations disponibles sur Crunchyroll.</p>
		</section>
	</div>

{% endblock %}
