{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div>
		<h1 class="mb-4">Conditions Générales d'Utilisation (CGU)</h1>

		<section>
			<h4>1. Présentation du site</h4>
			<p>Le site
				<strong>KawaiiGuide</strong>
				est un site de recommandation d'anime, administré par Yvanne ROSAT. Ce site présente des descriptions et des résumés d'animes, principalement tirés de Crunchyroll. Les utilisateurs peuvent accéder aux articles sans créer de compte.</p>
		</section>

		<section>
			<h4>2. Accès au site</h4>
			<p>L'accès au site est gratuit pour tous les utilisateurs. L'administrateur du site, Yvanne ROSAT, est le seul autorisé à se connecter pour ajouter ou modifier du contenu.</p>
		</section>

		<section>
			<h4>3. Propriété intellectuelle</h4>
			<p>Les contenus (textes, images) présentés sur KawaiiGuide, lorsqu'ils sont issus de Crunchyroll, sont utilisés avec leur permission ou selon les droits en vigueur. Les utilisateurs ne sont pas autorisés à reproduire ou diffuser ces contenus sans autorisation préalable.</p>
		</section>

		<section>
			<h4>4. Limitation de responsabilité</h4>
			<p>KawaiiGuide ne garantit pas l'exactitude des résumés ou des informations présentées. Les contenus sont fournis à titre informatif et ne peuvent engager la responsabilité de l'administrateur en cas d'erreurs ou d'omissions.</p>
		</section>

		<section>
			<h4>5. Données personnelles</h4>
			<p>Aucune donnée personnelle des utilisateurs n'est collectée par KawaiiGuide. Seul l'administrateur dispose d'un accès sécurisé pour gérer le contenu.</p>
		</section>

		<section>
			<h4>6. Liens externes</h4>
			<p>KawaiiGuide peut contenir des liens vers des sites externes. L'administrateur n'est pas responsable des contenus ou des politiques de ces sites externes.</p>
		</section>

		<section>
			<h4>7. Contact</h4>
			<p>Pour toute question ou problème relatif au site, les utilisateurs peuvent contacter l'administrateur à l'adresse email suivante :
				<a href="mailto:admin@contact.com">admin@contact.com</a>.</p>
		</section>
	</div>
{% endblock %}
