{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container text-container">
		<div class="row row-cols-2 gap-3">
			{% for post in posts %}
				<div class="col card" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">
							{{ post.title }}
						</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="{{ path('show', {slug: post.slug, id: post.id}) }}" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
