{% extends 'base.html.twig' %}

{% block title %}donne un titre a la page ici
{% endblock %}

{% block body %}

	{% for post in listPostsCategory %}
		<h1 class="mb-5">
			{{ post.label }}
		</h1>
		<div class="row gap-3">
			{% for article in post.article %}
				<div class="card col" style="width: 18rem;">
					<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">
							{{ article.title }}
						</h5>
						<p class="card-text">{{ article.summary|slice(0, 100) ~ '...' }}</p>
						<a href="{{ path('show', {slug: article.slug, id: article.id}) }}" class="btn btn-primary">En savoir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}

{% endblock %}
